@import url('https://fonts.googleapis.com/css?family=Notable&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700&display=swap');

body{
  margin:0 auto;
  background-color:#161616;
}

#title{
  color:#00c2e4;
  font-family: 'Notable';
  text-align: center;
  font-size: 35px;
  margin-bottom:-8px;
}

#subtitle{
  color:#ffffff;
  font-family: 'Bitter';
  text-align:center;
  font-size:25px;
  font-weight:700;
}

.randombutton{
  border:0;
  border-radius:5px;
  background-color:#00c2e4;
  padding:5px 5px;
  margin-top:15px;
  font-family: 'Bitter';
  font-weight:700;
  font-size:13px;
  color:#ffffff;
  transition:background-color 0.2s;
  -webkit-transition:background-color 0.2s;
  -moz-transition:background-color 0.2s;
  -o-transition:background-color 0.2s;
}

.randombutton:hover{
  background-color:#058196;
  cursor:pointer;
}

.disclaimer{
  color:#ffffff;
  font-family: 'Bitter';
  font-size:14px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom:0;
}

.disclaimer a{
  text-decoration:none;
  color:#ffffff;
  transition:color 0.2s;
  -webkit-transition:color 0.2s;
  -moz-transition:color 0.2s;
  -o-transition:color 0.2s;
}

.disclaimer a:hover{
  color:#00c2e4;
}

.copyright{
  color:#ffffff;
  font-family: 'Bitter';
  font-size:14px;
  font-weight: 700;
}

.desktopbox{
  width:100%;
  height:550px;
}

.medium{
  display:none;
}

.mediumbox{
  width:100%;
  height:450px;
  display:none;
}

.small{
  display:none;
}

.smallbox{
  width:100%;
  height:390px;
  display:none;
}

.xsmall{
  display:none;
}

.xsmallbox{
  width:100%;
  height:290px;
  display:none;
}

@media screen and (max-width:480px){
  .desktop{
    display:none;
  }
  .desktopbox{
    display:none;
  }
  .medium{
    display:block;
  }
  .mediumbox{
    display:block;
  }
  .small{
    display:none;
  }
  .xsmall{
    display:none;
  }
}

@media screen and (max-width:420px){
  #title{
    font-size:30px;
  }
  #subtitle{
    font-size:20px;
  }
  .desktop{
    display:none;
  }
  .medium{
    display:none;
  }
  .mediumbox{
    display:none;
  }
  .small{
    display:block;
  }
  .smallbox{
    display:block;
  }
  .xsmall{
    display:none;
  }
}

@media screen and (max-width:320px){
  #title{
    font-size:30px;
  }
  #subtitle{
    font-size:20px;
  }
  .desktop{
    display:none;
  }
  .medium{
    display:none;
  }
  .small{
    display:none;
  }
  .smallbox{
    display:none;
  }
  .xsmall{
    display:block;
  }
  .xsmallbox{
    display:block;
  }
}
